@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    direction: rtl;
  }

  body {
    @apply bg-gray-50 dark:bg-gray-900 text-gray-900 dark:text-white;
    font-family: 'Noto Naskh Arabic', serif;
  }

  * {
    box-sizing: border-box;
  }
}

@layer components {
  .font-arabic {
    font-family: 'Noto Naskh Arabic', serif;
  }
}

input[type=range] {
  @apply w-full cursor-pointer;
}
